<html>
    <head>
        <script type="text/javascript" src="libs/angular/angular.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/controllers/dpsUnlockCtrl.js"></script>

        <script type="text/javascript" src="app/services/userService.js"></script>
    </head>
    <body ng-app="zombie">
        <div class="container">
            <div class="unlock" ng-controller="dpsUnlockCtrl as ctrl">
                <div ng-repeat="unlockable in ctrl.unlockableItems" ng-click="ctrl.upgradeItem(unlockable.id)">
                    {{unlockable.name}} : {{ctrl.numberOf(unlockable.id)}}
                </div>
            </div>
        </div>
    </body>
</html>